header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: beige;

}

header a{
text-decoration: none;
color: black;
};
.startquiz{
    background-color: blue;
}